/* box custom color */
.bg-dark{
    background: linear-gradient(to right,#929292,#202020);
}

.bg-info{
    background: linear-gradient(to right,#03b8c5,#017179)
}

.btn-info{
    background: linear-gradient(to right,#03b8c5,#017179)
}

/* class stylings */
.card-body{
    flex:auto;
}

.search-column{
    background-color: #ffffff;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
/* Spans */
span.favorable{
    padding: 3px;
    background-color: darkgreen;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.severe{
    padding: 3px;
    background-color: darkred;
    color:white;
}


